@charset "utf-8";

$sans-serif: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

@import "normalize";
@import 'syntax';

body {
  background: $base3;
  font-family: $sans-serif;
  font-size: 1em;
  width: 80%;
  min-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.box {
  text-align: center;
  padding: 20px;
  margin: 20px;
  background-color: red;
  transition: background-color 2s ease;
}
.box:hover {
  background-color: green;
}

.box2 {
  width: 100%;
  height: 50px;
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    background-color: #001F3F;
  }
  10% {
    background-color: green;
  }
  100% {
    background-color: #FF4136;
  }
}

.container {
  width: 100%;
  height: 500px;
}
.container .box3, .container .box4 {
  width: 50px;
  height: 50px;
  background-color: green;
  position: absolute;
}
